<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Display</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2>Sports Data</h2>

<table id="dataTable">
    <thead>
        <tr>
            <th>league_id</th>
            <th>league_name</th> 
            <th>league_type</th>
            <th>league_country</th>
            <th>Seasons_year</th>
            <th>Seasons_start</th>
            <th>Seasons_end</th>
       
        </tr>
    </thead>
    <tbody id="tableBody">
        <!-- Table body will be populated dynamically -->
        {% for item in response_data.response %}
           
            <tr>
                <td>{{item.league.id}}</td>
                <td>{{item.league.name}}</td> 
                <td>{{item.league.type}}</td>
                <td>{{item.country.name}}</td>
                <td>{{item.seasons.year}}</td>
                <td>{{item.seasons.start}}</td>
                <td>{{item.seasons.end}}</td>           
            </tr>
        {% endfor %}
    </tbody>
</table>


</body>
</html>
